<!DOCTYPE html>
<html lang="ro">

<head>
	<title>Contact</title>
	<meta name="keywords" content="pc,placa video, procesor, ram, placa de baza, cooler ">
    <meta name="description" content="Construieste-ti propiul pc cu cele mai bune componente!">

	<link rel="stylesheet" type="text/css" href="/resurse/css/pagini/contact/contact.css" />
	<%- include("../fragmente/head") %>

</head>

<body class="dark">

	<%- include("../fragmente/header") %>

		<main>

			<h1>Trimite un mesaj către site</h1>
			<p>Mesajele nu sunt moderate, ne cerem scuze de inconveniente!</p>

			<form method="post" action="/contact">
				<label>Mesajul dumneavoastră:<br /><br>
					<textarea class="form-control form-control-lg" cols="30" rows="5" name="mesaj"
						placeholder="Scrieți tot ce aveți pe suflet!"></textarea>
				</label><br />
				<input type="submit" class="btn btn-outline-primary btn-lg" value="Trimite mesajul!">
			</form>
			<section><br>
				<h2>Mesaje:</h2>
				<div id="mesaje">
				<% if (locals.mesaje) {
					var mesajeSort=locals.mesaje.sort(function(a,b) {return (new Date(b.attributes.data)).getTime()-(new Date(a.attributes.data)).getTime()})
					for (let msg of mesajeSort) { 
						let dt=new Date(msg.attributes.data);
						if( msg.attributes.username.includes("admin")){ %>
						<article class="mesaj-c" style="background-color: LightGreen">
							<h3><span class="username"><%= msg.attributes.username%></span> spune:</h3>
							<p><%= msg.elements[0].text %></p>
							<p><small><time datetime="<%= dt.getUTCDate() %>"><%= dt.toLocaleString('ro-RO', {
														weekday: 'long', 
														day: 'numeric',
														year: 'numeric', 
														month: 'long', 
														hour: 'numeric',
														minute: 'numeric', 
														second: 'numeric',
													}) %></time></small>
							</p>
						</article>
					<% }else{ %>
						<article class="mesaj-c" style="background-color: Aquamarine">
							<h3><span class="username"><%= msg.attributes.username%></span> spune:</h3>
							<p><%= msg.elements[0].text %></p>
							<p><small><time datetime="<%= dt.getUTCDate() %>"><%= dt.toLocaleString('ro-RO', {
														weekday: 'long', 
														day: 'numeric',
														year: 'numeric', 
														month: 'long', 
														hour: 'numeric',
														minute: 'numeric', 
														second: 'numeric',
													}) %></time></small>
							</p>
						</article>
					<% }  %>
						
					<% } %>
				<% } %>
				</div>
			</section>
		</main>

		<%- include("../fragmente/footer") %>

</body>

</html>