<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Eroare</title>
    <meta name="keywords" content="pc,placa video, procesor, ram, placa de baza, cooler ">
    <meta name="description" content="Construieste-ti propiul pc cu cele mai bune componente!">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

   
    <link rel="stylesheet" href="resurse/css/erori.css" type="text/css">
    <%- include("../fragmente/head.ejs"); %>


</head>

<body>

    <%- include("../fragmente/header.ejs"); %>

        <main>
            <div id="err-coloane">
                <section>
                    <h2>
                        <%- locals.titlu %>
                    </h2>
                    <div id="err-imag">
                        <img src="<%- locals.imagine %>" />
                    </div>
                    <p>
                        <%- locals.text %>
                    </p>
                </section>
            </div>
        </main>

        <div id="footer">
        <%- include("../fragmente/footer.ejs"); %>
        </div>


</body>

</html>