<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Produse favorite</title>
    <meta name="keywords" content="pc,placa video, procesor, ram, placa de baza, cooler ">
    <meta name="description" content="Construieste-ti propiul pc cu cele mai bune componente!">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script type="text/javascript" src="/resurse/js/bootstrap.js"></script>
    <script type="text/javascript" src="/resurse/js/produse.js"></script>
    <link rel="stylesheet" href="/resurse/css/pagini/favorite/favorite.css" type="text/css" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

    

    <%- include("../fragmente/head") %>
</head>

<body class="dark">
    <%- include("../fragmente/header") %>
        <main>
            <section>
                <h2>Produsele favorite</h2>
                <div class="grid-produse">
                    <% for(let prod of locals.favorite) {%>
                        <article class="produs" id="articol_<%-prod.id%>">
                            <h3 class="nume">Nume<a href="/produs/<%-prod.id %>"><span class="val-nume"><%-prod.nume%></span></a></h3>
                            <div class="categorie">
                                <% let cat=prod.categorie.replace(/{/g, "" );
                                cat=cat.replace(/}/g, "" ); // let
                                cat=prod.categorie;
                                if(cat.startsWith("1")==true || cat.startsWith(2)==true
                                    || cat.startsWith(3)==true || cat.startsWith(4)==true) {%>
                                    <% //console.log(cat) 
                                        let index=cat.indexOf("-") 
                                        let nume1=cat.substr(index+1 );
                                        let index2=nume1.indexOf("-");
                                        let nume2=nume1.substr(index-1, index2);
                                        nume1=nume1.substr(index2 + 3);
                                        var nume3=[nume2, nume1]; %>
                                        <% } else {%>
                                            <% nume3=[cat];%>
                                                <% } %>
                                                    <p class="categorie">Categorie: <span class="val-categorie"><%-nume3%></span></p>
                            </div>
                            <div class="accordion" id="accordionExample">
                                <div class="descriereImg">
                                    <div class="desc" id="descriere_<%-prod.id%>">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingOne">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                    Descriere
                                                </button>
                                            </h2>
                                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne">
                                                <div class="accordion-body">
                                                    <p class="descriere"><span class="val-descriere">
                                                            <%- prod.descriere%>
                                                        </span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <figure class="img">
                                    <a href="/produs/<%-prod.id %>"><img
                                            src="/resurse/imagini/produse/<%- prod.imagine %>"
                                            style="width:100%;height:auto;"
                                            alt="[imagine <%- prod.nume %>]" /></a>
                                </figure>
                                <div class="info-prod">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTwo">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                aria-expanded="false" aria-controls="collapseTwo">
                                                Pret
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse"
                                            aria-labelledby="headingTwo">
                                            <div class="accordion-body">
                                                <p class="pret">Pret:<span class="val-pret"><%-
                                                            prod.pret%></span></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingThree">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                                aria-expanded="false" aria-controls="collapseThree">
                                                Tip Produs
                                            </button>
                                        </h2>
                                        <div id="collapseThree" class="accordion-collapse collapse"
                                            aria-labelledby="headingThree">
                                            <div class="accordion-body">
                                                <p class="tip_produs"><span
                                                        class="val-tip_produs"><%-prod.tip_produs%></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingFour">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                                aria-expanded="false" aria-controls="collapseFour">
                                                Specificatii
                                            </button>
                                        </h2>
                                        <div id="collapseFour" class="accordion-collapse collapse"
                                            aria-labelledby="headingFour">
                                            <div class="accordion-body">
                                                <p class="specificatii"><span class="val-specificatii"><%-
                                                            prod.specificatii%></span></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingFive">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                                aria-expanded="false" aria-controls="collapseFive">
                                                Data Fabricarre
                                            </button>
                                        </h2>
                                        <div id="collapseFive" class="accordion-collapse collapse"
                                            aria-labelledby="headingFive">
                                            <div class="accordion-body">
                                                <p class="data_fabricare"><span
                                                        class="val-data_fabricare"><time
                                                            datetime="YYY-MM-DD"><%-
                                                                prod.data_fabricare%></time></span></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingSix">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseSix"
                                                aria-expanded="false" aria-controls="collapseSix">
                                                Culoare
                                            </button>
                                        </h2>
                                        <div id="collapseSix" class="accordion-collapse collapse"
                                            aria-labelledby="headingSix">
                                            <div class="accordion-body">
                                                <p class="culoare"><span class="val-culoare"><%-
                                                            prod.culoare%></span></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingSeven">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseSeven"
                                                aria-expanded="false" aria-controls="collapseSeven">
                                                Desigilat
                                            </button>
                                        </h2>
                                        <div id="collapseSeven" class="accordion-collapse collapse"
                                            aria-labelledby="headingSeven">
                                            <div class="accordion-body">
                                                <p class="desigilat"><span class="val-desigilat"><%-
                                                            prod.desigilate%></span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br><br><br>
                                <label class="selecteaza-cos">
                                    Adauga in cos:<br />
                                    <input type="checkbox" class="select-cos" value="<%-prod.id %>"
                                        autocomplete="off">
                                </label>
                        </article>
                    <% } %>
                </div>
            </section>
        </main>
    <%- include("../fragmente/footer") %>
</body>
</html>