<!DOCTYPE html>
<html lang="ro">

<head>
    <title>PC components</title>
    <meta name="keywords" content="pc,placa video, procesor, ram, placa de baza, cooler ">
    <meta name="description" content="Construieste-ti propiul pc cu cele mai bune componente!">

    
    <link rel="stylesheet" href="resurse/css/promo/promo.css" type="text/css">
    <link rel="stylesheet" href="resurse/css/pagini/home/index.css" type="text/css">
    <%- include("../fragmente/head.ejs") %>
</head>

<body class="dark">

    <main>
        <%- include("../fragmente/header.ejs") %>
          
            <div id="hello">
                <% if(locals.utilizator) { %>
                <% if (locals.utilizator.cale_imagine) { %>
                    <img src="/<%- locals.utilizator.cale_imagine %>" alt="" id="hello-img"/>
                <% } else { %>
                    <img src="../../resurse/imagini/user/user.png" alt="" id="hello-img" />
                <% } %>
                    <p id="hello-p">Bine ai venit, <%-locals.utilizator.nume + ' ' +  locals.utilizator.prenume %> </p>
            <% } %>

            </div>
            <div id="video">
                <video poster="resurse/imagini/poster_video/poster1.jpg" controls="controls" preload="metadata">
                    <source src="resurse/video/video.mp4" type="video/mp4">
                    <source src="resurse/video/video.ogv" type="video/ogv">
                    <track default src="/resurse/caption/mesaje_ro.vtt" kind="captions" srclang="ro" label="romana" />
                    <track src="/resurse/caption/mesaje_en.vtt" kind="captions" srclang="en" label="engleza" />
                </video>
            </div>

            
                
    </main>
    <div id="footer">
        <%- include("../fragmente/footer.ejs") %>
    </div>
</body>

</html>