<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Informatii magazin</title>
    <meta name="keywords" content="pc,placa video, procesor, ram, placa de baza, cooler ">
    <meta name="description" content="Construieste-ti propiul pc cu cele mai bune componente!">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata">

    <link rel="stylesheet" href="resurse/css/pagini/info/info.css" type="text/css">
    <link rel="stylesheet" href="resurse/css/pagini/info/tabel.css" type="text/css">
    <link rel="stylesheet" href="resurse/css/pagini/info/iframe.css" type="text/css">
    <link rel="stylesheet" href="resurse/css/pagini/info/reflexie.css" type="text/css">
    <link rel="stylesheet" href="resurse/css/css-printare/css-printare.css" type="text/css">
    <link rel="stylesheet" href="resurse/css/galerie_statica/galerie.css" type="text/css">
    <!-- <link rel="stylesheet" href="resurse/css/pagini/info/hr.css" type="text/css"> -->

    <!-- <script src="/resurse/js/locatie.js"></script> -->


    <%- include("../fragmente/head.ejs") %>
</head>

<body class="dark">
    <%- include("../fragmente/header.ejs") %>
        <main>
            <div class="downImg">
                <a href="https://images.unsplash.com/photo-1574192324001-ee41e18ed679?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                    download target="_blank">
                    <img src="https://images.unsplash.com/photo-1574192324001-ee41e18ed679?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                        alt="downImg" style="width:50%">
                </a>
            </div>
            <section id="despre">
                <h2 id="titlu">Despre noi</h2>
                <p id="watermark"></p>
                <p id="descriere_p">  Hello, noi suntem echipa <b>PC Components</b>, suntem inca la inceput, dar invatam
                    repede si ne dorim
                    sa
                    reusim sa satisfacem toti clientii nostrii. Noi suntem o companie care se ocupa cu furnizare
                    de
                    componente pentru calculator precum: <b>placa video, memorii RAM, SSD sau HDD,
                        procesoare</b>,
                    intr-o singura expresie: "tot ce iti doresti"<br>
                     Suntem aici pentru a te ajuta sa iti construiesti propiul <b>PC de gaming</b>, de la
                    <b>carcasa</b> pana la <b>casti</b>. Venim in ajutorul pasionatilor de gamming dar si al
                    celor
                    care isi cauta un nou laptop/PC. Va recomandam pe cei de la Linus Tech Tips pentru mai multe
                    recenzii dar si informatii utile.<br>
                    
                    Iti doresti sa-ti faci propriul PC, dar nu ai cunostintele necesare pentru a face asta? Nu-i nimic,
                    am gasit pentru tine cea mai buna metoda prin care să inveti despre componente PC intr-un mod cât
                    mai distractiv. Ti-l prezentam pe <b>Linus Tech Tips</b>, un canal de YouTube in care se fac recenzii la
                    produse hardware si software, in special componente PC. Pe acest canal vei gasi teste si analize ale
                    diferitelor produse, in plus vei obtine niste recenzii obiective din partea colaboratorilor
                    canalului. <br>
                    Esti curios ce este cu acest canal? Stiu pare mult prea misto ca sa fie adevarat, dar chiar e. 
                    Poti sa verifici singur intrand pe urmatorul link: <a href="https://www.youtube.com/@LinusTechTips", target="_blank">Linus Tech Tips</a> <br> 
                    In continuare vei regasii 3 videoclipuri interesante de pe canalul sau.
                </p>
            </section>
            <section id="LinusTechTips">
                <div class="taburi-iframe">
                    <a href="https://www.youtube.com/embed/ZGy2kkWOxig" target="ifr-video">The Compensation PC</a>
                    <a href="https://www.youtube.com/embed/O0srjKOOR4g" target="ifr-video">RTX 4060 Review</a>
                    <a href="https://www.youtube.com/embed/tiCc6eez7FA" target="ifr-video">About PC</a><br>
                </div>
                <div id="iframe-video">
                    <iframe name="ifr-video" src="https://www.youtube.com/embed/ZGy2kkWOxig"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>

            </section>
            </div>
            <section id="garantie">
                <h2 id="titlu">Garantia Securitatii</h2>
                <p>
                    <b>PC components</b> este decis sa va respecte intimitatea. In general, puteti vizita
                    PC
                    components
                    fara
                    a furniza informatii despre dumneavoastra. Noi colectam date despre vizitatorii site-ului.
                    Unele
                    sunt
                    necesare in procesarea comenzilor, de exemplu. Analizam aceste date in vederea identificarii
                    de
                    trenduri si
                    realizarii de statistici care sa ne ajute in a va furniza servicii mai bune. <br>
                    <strong>PC Components nu incalca intimitatea user-ilor doar incearca sa aduca de fiecare
                        data
                        oferte
                        si produse pentru nevoile vizitatorilor</strong>
                </p>
            </section>

            <section id="intrebari">
                <h2 id="titlu">Cele mai frecvente intrebari</h2>
                <details>
                    <summary>Avem garantie inclusa?</summary>
                    <p>Da, fiecare produs pe care il achizitionati de la noi are o granatie de 12 luni inclusa
                        in
                        pret</p>
                </details>
                <details>
                    <summary>Putem sa returnam un produs daca nu ne place?</summary>
                    <p>Da, produsele pot fii returnate in termen de 20 de zile</p>
                </details>
                <details>
                    <summary>Primim banii inapoi daca returnam un produs?</summary>
                    <p>Dupa ce a-ti returnat un produs acesta este verificat de catre echipa de IT pentru a
                        vedea ca
                        el nu are defectiuni. Daca nu are va veti primii banii inapoi, daca gasim defectiuni
                        asupra
                        produsului o sa va trimitem un mail in care va instiintam iar daca dumneavoastra doriti
                        produsul inapoi vi-l tirmitem</p>
                </details>
            </section>


            <section id="CalcularePret">
                <h2 id="titlu"> Cum calculam pretul redus cu X%</h2>
                <p>Presupunem ca avem un produs cu pretul y RON si pe el avem o reducere de X%. <br>
                    <math>
                        <mrow>
                            <mi> X</mi>
                            <mo>&#37;</mo>
                            <mo>&#215;</mo>
                            <mi>y</mi>
                            <mo>&#61;</mo>
                        </mrow>
                        <mfrac>
                            <mi>X</mi>
                            <msup>
                                <mn>100</mn>
                            </msup>
                        </mfrac>
                        <mo>&#215;</mo>
                        <mi>y</mi>
                    </math>
                </p>

            </section>

            <section id="Shops">
                <h2 id="titlu"> Unde ne puteti gasii </h2>
                <table id="tabel">
                    <caption>Locatii shop-uri fizice</caption>
                    <thead>
                        <tr>
                            <th>Judet</th>
                            <th>Oras</th>
                            <th>Locatie</th>
                            <th>Program</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Bucuresti</td>
                            <td>Bucuresti</td>
                            <td>Trandafir 89 </td>
                            <td>10-17</td>
                        </tr>
                        <tr>
                            <td>Brasov</td>
                            <td>Brasov</td>
                            <td>Veche 48</td>
                            <td>10-19</td>
                        </tr>
                        <tr>
                            <td>Cluj</td>
                            <td>Cluj</td>
                            <td>Orhideea</td>
                            <td>10-20</td>
                        </tr>
                        <tr>
                            <td>Timis</td>
                            <td>Timisoara</td>
                            <td>Minciuna 176</td>
                            <td>9-23</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="4">Orase in care vom deschide</th>
                        </tr>
                        <td>Bihor</td>
                        <td>Oradea</td>
                        <td>Crisul Alb 20</td>
                        <td>9-20</td>
                        </tr>
                        <tr>
                            <td>Iasi</td>
                            <td>Iasi</td>
                            <td>Mioarelor 66</td>
                            <td>9-20</td>
                        </tr>
                    </tfoot>
                </table>
            </section>
            <section id="galerie">
                <div id="hoverTitlu">
                    <div id="text">
                        <h2> Galerie </h2>
                    </div>
                    <div id="text-reflectat">
                        <h2> Galerie </h2>
                    </div>
                </div>
                <div id="grid-galerie">
                    <% for (let imag of locals.imagini){ %>
                        <% var date=new Date (); var sfert=date.getMinutes(); var timp="0" ; %>
                            <% if (sfert < 15){ %>
                                <% timp=1; %>
                                    <% }else if(sfert>= 15 && sfert < 30){ %>
                                            <%timp=2; %>
                                                <% }else if(sfert>= 30 && sfert < 45){ %>
                                                        <% timp=3; %>
                                                            <% } else { timp=4; } %>
                                                                <% if(imag.sfert_ora && imag.sfert_ora.includes(timp)){
                                                                    %>
                                                                    <figure>
                                                                        <picture>
                                                                            <source srcset="<%- imag.fisier_mediu %>"
                                                                                media="(max-width: 800px)" />
                                                                            <source srcset="<%- imag.fisier_mic %>"
                                                                                media="(max-width: 450px)" />
                                                                            <img src="<%- imag.fisier %>"
                                                                                title="<%- imag.descriere %>"
                                                                                alt="<% if (imag.alt){ %> <%- imag.alt %> <% }else{ %> <%- imag.titlu %> <%} %>" />
                                                                        </picture>
                                                                        <figcaption>
                                                                            <%- imag.descriere %>
                                                                        </figcaption>
                                                                    </figure>
                                                                    <% } %>
                                                                        <% } %>
                </div>
            </section>

        </main>
        <%- include("../fragmente/footer.ejs") %>

</body>

</html>;