<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Inregistrare</title>
    <meta name="keywords" content="pc,placa video, procesor, ram, placa de baza, cooler ">
    <meta name="description" content="Construieste-ti propiul pc cu cele mai bune componente!">

    <%- include("../fragmente/head") %>
    <script type="text/javascript" src="/resurse/js/inregistrare.js"></script>
    <link rel="stylesheet" href="/resurse/css/pagini/inregistrare/inregistrare.css" type="text/css" />
</head>

<body class="dark">
    <%- include("../fragmente/header") %>

        <main>
            <div class="afisaj">
                <h1 id="titlu">Inregistrare utilizator</h1>
                <div class="formular">
                    <br>
                    <p id="mesaj"><%- locals.mesaj %></p>
                    <% if(!locals.raspuns) { %>

                        <%-include("../fragmente/formular", {action: "/inregistrare" }) %>
                            <% } %>

                                <% if(locals.raspuns) { %>
                                    <%- locals.raspuns+"<br />"%>
                                    <% } %>
                                        <% if(locals.err) { %>
                                            <%- locals.err %>
                                                <% } %>
                </div>
            </div>
        </main>
        <%- include("../fragmente/footer") %>
</body>
</html>