<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Produse</title>
    <meta name="keywords" content="pc,placa video, procesor, ram, placa de baza, cooler ">
    <meta name="description" content="Construieste-ti propiul pc cu cele mai bune componente!">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/resurse/css/pagini/produse/produse.css" type="text/css" />
    <link rel="stylesheet" href="/resurse/css/pagini/produse/buttoane.css" type="text/css" />
    <script type="text/javascript" src="/resurse/js/produse.js"></script>
    <script type="text/javascript" src="/resurse/js/bootstrap.js"></script>
    <%- include("../fragmente/head") %>
</head>

<body class="dark">
    <%- include("../fragmente/header") %>
        <main>
            <div class="row">
                <div class="col">
                    <div class="col">
                        <label> Nume:
                            <input type="text" id="inp-nume" onchanged="" class="form-control btn btn-outline-info">
                        </label>
                    </div>
                    <div class="col">
                        <div class="btn-group-toggle" data-toggle="buttons"> Tip produs:
                            <p><label class="btn btn-outline-info">Gaming
                                    <input id="i_rad1" name="gr_rad" value="gaming" type="radio" data-toggle="toggle" />
                                </label></p>
                            <p><label class="btn btn-outline-info">Home
                                    <input id="i_rad2" name="gr_rad" value="home" type="radio" data-toggle="toggle" />
                                </label>
                            <p><label class="btn btn-outline-info">Office
                                    <input id="i_rad3" name="gr_rad" value="office" type="radio" data-toggle="toggle" />
                                </label>
                            <p><label class="btn btn-outline-info">Toate
                                    <input id="i_rad4" checked name="gr_rad" value="toate" type="radio"
                                        data-toggle="toggle" />
                                </label>
                        </div>
                    </div>
                    <div class="col">

                        <div class="btn-group-toggle" data-toggle="buttons"> Disponibilitate produs
                            <br>
                            <label class="btn btn-outline-info"> Resigilat
                                <input id="resigilat" name="gr_chck" value="true" type="checkbox"
                                    data-toggle="toggle" />
                            </label>

                            <label class="btn btn-outline-info">In stoc
                                <input id="stoc" name="gr_chck" checked value="false" type="checkbox"
                                    data-toggle="toggle" />
                            </label>
                        </div>
                    </div>

                    <div class="col">
                        <label> Garantie: <input type="range" id="inp-garantie" value="0" min="0" max="5"
                                class="form-range"> <span id="infoRange">(0)</span></label>
                    </div>

                    <div class="col">
                        <label>Select simplu:
                            <select id="inp-categorie" class="form-select form-select-lg">
                                <option id="sel-toate" selected value="toate">toate</option>
                                <% for (let opt of locals.optiuni) { %>
                                    <% let cat=opt.unnest%>
                                        <% if(cat.startsWith("1")==true || cat.startsWith(2)==true ||
                                            cat.startsWith(3)==true || cat.startsWith(4)==true) {%>
                                                <% let index=cat.indexOf("-"); 
                                                let nume1=cat.substr(index+1 ); 
                                                let index2=nume1.indexOf("-");
                                                let nume2=nume1.substr(index-1, index2);
                                                nume1=nume1.substr(index2 + 3); 
                                                var nume3=[nume2, nume1]; %>
                                                <% } else {%>
                                                    <% nume3=[cat]; %>
                                                        <% } %>
                                                            <option value="<%-nume3 %>"><%-nume3%></option>
                                                            <% } %>
                            </select>
                        </label>
                    </div>

                    <div class="col">
                        <label>Select multiplu:
                            <select id="i-pret" multiple size="3" autocomplete="off"
                                class="form-select form-select-lg mb-3" multiple aria-label="multiple select example">
                                <option value="1" selected>0-200</option>
                                <option value="2" selected>200-500</option>
                                <option value="3" selected>500-1000</option>
                                <option value="4" selected>1000-1500</option>
                                <option value="5" selected>1500-2000</option>
                                <option value="6" selected>2000-3000</option>
                                <option value="7" selected>3000-4000</option>
                                <option value="8" selected>4000-5000</option>
                                <option value="9" selected>Peste 5000</option>
                            </select>
                        </label>
                    </div>

                    <div class="col">
                        <label>Datalist:
                            <input list="id_lista" id="i_datalist" class="form-control btn btn-outline-info">
                            <datalist id="id_lista">
                                <% var culori=[] %>
                                    <% for( let prod of locals.produse) { %>
                                        <% if(!culori.includes(prod.culoare)){%>
                                            <% culori.push(prod.culoare)%>
                                                <%}%>
                                                    <%}%>
                                                        <%for(let culoare of culori){%>
                                                            <option value="<%-culoare%>"></option>
                                                            <%}%>
                            </datalist>
                        </label>
                    </div>

                    <div class="col">
                        <p>Shearch-ul trebuie sa fie de forma +ce_vreau sa fie si -ce_nu_vreau sa fie, o sa se caute dupa descrierea produsului</p>
                        <div class="form-floating">
                        <label for="validationTextarea">Search:</label>
                            <textarea id="validationTextarea" class="form-control btn btn-outline-info"></textarea>
                        </div>
                        <div class="invalid-feedback">
                            Please enter a message in the textarea.
                        </div>

                    </div>

                    <div class="col">
                        <p>
                            <button id="filtrare" type="button" class="btn btn-primary"><span>Filtreaza</span>
                                <i class="bi bi-filter-circle"></i>
                            </button>
                            <button id="resetare" type="button" class="btn btn-primary"><span>Reseteaza</span>
                                <i class="bi bi-x-circle"></i>
                            </button><br />
                            <button id="sortCrescNume" type="button" class="btn btn-primary"> <span>Sorteaza crescator
                                    dupa pret si
                                    nume</span>
                                <i class="bi bi-arrow-up"></i>
                            </button>
                            <button id="sortDescrescNume" type="button" class="btn btn-primary "><span>Sorteaza
                                    descrescator dupa
                                    pret si nume</span>
                                <i class="bi bi-arrow-down"></i>
                            </button><br>
                            <button id="maxim" type="button" class="btn btn-primary"><span>Produsul cu pretul cel mai
                                    mare</span>
                                <i class="bi bi-caret-up"></i>
                            </button>
                            <button id="minim" type="button" class="btn btn-primary"><span>Produsul cu pretul cel mai
                                    mic</span>
                                <i class="bi bi-caret-down"></i>
                            </button>

                        </p>
                    </div>
                    <div class="col">
                        <p id="p-suma">Apăsați Alt+"c" pentru suma preturilor produselor afișate. </p>
                        <p id="messaje_alert"></p>
                    </div>
                </div>

                <div class="col-10">
                    <div class="row">
                        <section id="produse">
                            <h2>Produse</h2>
                            <div class="grid-produse">
                                <% for( let prod of locals.produse) { %>
                                    <article class="produs" id="articol_<%-prod.id%>">
                                        <h3 class="nume">Nume<a href="/produs/<%-prod.id %>"><span class="val-nume"><%-prod.nume%></span></a></h3>
                                        <div class="categorie">
                                            <% let cat=prod.categorie.replace(/{/g, "" );
                                            cat=cat.replace(/}/g, "" ); // let
                                            cat=prod.categorie;
                                            if(cat.startsWith("1")==true || cat.startsWith(2)==true
                                                || cat.startsWith(3)==true || cat.startsWith(4)==true) {%>
                                                <% //console.log(cat) 
                                                    let index=cat.indexOf("-") 
                                                    let nume1=cat.substr(index+1 );
                                                    let index2=nume1.indexOf("-");
                                                    let nume2=nume1.substr(index-1, index2);
                                                    nume1=nume1.substr(index2 + 3);
                                                    var nume3=[nume2, nume1]; %>
                                                    <% } else {%>
                                                        <% nume3=[cat];%>
                                                            <% } %>
                                                                <p class="categorie">Categorie: <span class="val-categorie"><%-nume3%></span></p>
                                        </div>
                                        <div class="accordion" id="accordionExample">
                                            <div class="descriereImg">
                                                <div class="desc" id="descriere_<%-prod.id%>">
                                                    <div class="accordion-item" id="panelsStayOpen-headingTwo">
                                                        <h2 class="accordion-header" id="headingOne">
                                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                                Descriere
                                                            </button>
                                                        </h2>
                                                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                            <div class="accordion-body">
                                                                <p class="descriere"><span class="val-descriere">
                                                                        <%- prod.descriere%>
                                                                    </span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <figure class="img">
                                                <a href="/produs/<%-prod.id %>"><img
                                                        src="/resurse/imagini/produse/<%- prod.imagine %>"
                                                        style="width:100%;height:auto;"
                                                        alt="[imagine <%- prod.nume %>]" /></a>
                                            </figure>
                                            <div class="info-prod">
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingTwo">
                                                        <button class="accordion-button collapsed" type="button"
                                                            data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                            aria-expanded="false" aria-controls="collapseTwo">
                                                            Pret
                                                        </button>
                                                    </h2>
                                                    <div id="collapseTwo" class="accordion-collapse collapse"
                                                        aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <p class="pret">Pret:<span class="val-pret"><%-
                                                                        prod.pret%></span></p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingThree">
                                                        <button class="accordion-button collapsed" type="button"
                                                            data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                                            aria-expanded="false" aria-controls="collapseThree">
                                                            Tip Produs
                                                        </button>
                                                    </h2>
                                                    <div id="collapseThree" class="accordion-collapse collapse"
                                                        aria-labelledby="headingThree"
                                                        data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <p class="tip_produs"><span
                                                                    class="val-tip_produs"><%-prod.tip_produs%></span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingFour">
                                                        <button class="accordion-button collapsed" type="button"
                                                            data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                                            aria-expanded="false" aria-controls="collapseFour">
                                                            Specificatii
                                                        </button>
                                                    </h2>
                                                    <div id="collapseFour" class="accordion-collapse collapse"
                                                        aria-labelledby="headingFour"
                                                        data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <p class="specificatii"><span class="val-specificatii"><%-
                                                                        prod.specificatii%></span></p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingFive">
                                                        <button class="accordion-button collapsed" type="button"
                                                            data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                                            aria-expanded="false" aria-controls="collapseFive">
                                                            Data Fabricarre
                                                        </button>
                                                    </h2>
                                                    <div id="collapseFive" class="accordion-collapse collapse"
                                                        aria-labelledby="headingFive"
                                                        data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <p class="data_fabricare"><span
                                                                    class="val-data_fabricare"><time
                                                                        datetime="YYY-MM-DD"><%-
                                                                            prod.data_fabricare%></time></span></p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingSix">
                                                        <button class="accordion-button collapsed" type="button"
                                                            data-bs-toggle="collapse" data-bs-target="#collapseSix"
                                                            aria-expanded="false" aria-controls="collapseSix">
                                                            Culoare
                                                        </button>
                                                    </h2>
                                                    <div id="collapseSix" class="accordion-collapse collapse"
                                                        aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <p class="culoare"><span class="val-culoare"><%-
                                                                        prod.culoare%></span></p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingSeven">
                                                        <button class="accordion-button collapsed" type="button"
                                                            data-bs-toggle="collapse" data-bs-target="#collapseSeven"
                                                            aria-expanded="false" aria-controls="collapseSeven">
                                                            Desigilat
                                                        </button>
                                                    </h2>
                                                    <div id="collapseSeven" class="accordion-collapse collapse"
                                                        aria-labelledby="headingSeven"
                                                        data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <p class="desigilat"><span class="val-desigilat"><%-
                                                                        prod.desigilate%></span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br><br><br>
                                            <label class="selecteaza-cos">
                                                Selectează:<br />
                                                <input type="checkbox" class="select-cos" value="<%-prod.id %>"
                                                    autocomplete="off">
                                            </label>
                                    </article>
                                    <% }%>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </main>
    <%- include("../fragmente/footer") %>
</body>

</html>