<!DOCTYPE html>
<html lang="ro">

<head>
	<title>Profil</title>
	<%- include("../fragmente/head") %>

		<link rel="stylesheet" type="text/css" href="/resurse/css/pagini/profil/profil.css" />
		<% if(locals.utilizator) { %>
			<script>

				// populez inputurile din pagina de profil cu datele din tabel (incarcate prin EJS)
				window.addEventListener("DOMContentLoaded", function () {
					document.getElementById("inp-username").value = "<%= locals.utilizator.username %>";
					document.getElementById("inp-username").readOnly = true;
					document.getElementById("inp-nume").value = "<%= locals.utilizator.nume %>";
					document.getElementById("inp-prenume").value = "<%= locals.utilizator.prenume %>";
					document.getElementById("inp-email").value = "<%= locals.utilizator.email %>";
					document.getElementById("inp-ocupatie").value = "<%= locals.utilizator.ocupatie %>";
					document.getElementById("p-reintrod").remove();
					var optiuni = document.getElementById("sel-culoare").options
					for (let opt of optiuni)
						if (opt.value == "<%= locals.utilizator.culoare_chat %>")
							opt.selected = true;
				});
			</script>
			<% } %>
</head>

<body class="dark">

	<%- include("../fragmente/header") %>
		<main>
			<% if(locals.utilizator) { %>
				<h2 id="profil">Profil</h2>	
				<div id="user">
					<div id="imagine">
						<p>
							<%= locals.raspuns %>
						</p>
						<% if(!locals.utilizator.cale_imagine.includes('undefined')) {%>
							<img src="/<%- locals.utilizator.cale_imagine%>" alt="poza de profil" />
						<% } else {%>
							<p>Nu aveti poza de profil</p>
						<%}%>
					</div><br>
					<p>Pentru a va actualiza datele puteti completa formularul de mai jos</p>
					<%- include("../fragmente/formular",{action:"/profil"}, {raspuns:locals.mesaj}) %>

		 			<%if(locals.utilizator.rol.cod !="curier"){
						//console.log("!!!!!!!!!!!", locals.utilizator)
						if(locals.utilizator.rol.cod == 'comerciant'){ %>
							<p>Vrei sa iti vezi produsele? <a href="/vizualizareProduse">Vizualizare produse <i class="fa-solid fa-table-list"></i></a></p>
							<p>Vrei sa adaugi un produs? <a href="/adaugaProduse">Pentru asta poti incepe prin a adauga primul tau produs spre vanzare <i class="fa-solid fa-plus"></i></a></a></p>
						<%} else {%>
							<p> Vrei sa devi comercinat? <br>
								<a href="/adaugaProduse">Pentru asta poti incepe prin a adauga primul tau produs spre vanzare <i class="fa-solid fa-plus"></i></a></p>
						<%}%>
					<%}%>
					<p> Vrei sa te deloghezi? <a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></p>
					<p>Vrei sa iti stergi contul? </p>
					<form id="sterge" method="post" action="/sterge_cont">
						<label>
							Username: <input type="text" name="username" class="form-control" value="">
						</label><br><br>

						<input type="submit" class = "btn btn-outline-secondary" value="Submit">
					</form>
					<br><br>

					<!-- <a href="/sterge_cont"><i class="fa-regular fa-trash"></i></a> -->
			</div>
			</main>
		<% } else { %>
			<p>Nu sunteti logat</p>
			<% } %>
				<%- include("../fragmente/footer") %>

</body>

</html>