<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Resetare Parola</title>
    <meta name="keywords" content="pc,placa video, procesor, ram, placa de baza, cooler ">
    <meta name="description" content="Construieste-ti propiul pc cu cele mai bune componente!">


    <script type="text/javascript" src="/resurse/js/inregistrare.js"></script>
    <link rel="stylesheet" href="/resurse/css/pagini/resetare/resetare.css" type="text/css" />

    <%- include("../fragmente/head") %>
</head>

<body class="dark">
    <%- include("../fragmente/header") %>
        <main>
            <div class="afisaj">
                <h1 id="titlu">Resetare parola</h1>
                <br>
                <div class="formular">
                    <%if(locals.mesaj == "Resetarea s-a realizat cu succes!"){ %>
                        <p id="mesaj" style="color: #FFAD03;"><%- locals.mesaj %></p>
                    <%} else {%>
                        <p id="mesaj" style="color: red;"><%- locals.mesaj %></p>
                    <%}%>
                    <p> Introduceti datele dumneavoastra</p>  
                    <%- include("../fragmente/formular_reset", {action: "/resetare" }) %>
                </div> 
            </div>
        </main>
    <%- include("../fragmente/footer") %>
</body>
</html>