<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Resetare Parola</title>
    <meta name="keywords" content="pc,placa video, procesor, ram, placa de baza, cooler ">
    <meta name="description" content="Construieste-ti propiul pc cu cele mai bune componente!">


    <script type="text/javascript" src="/resurse/js/inregistrare.js"></script>
    <link rel="stylesheet" href="/resurse/css/pagini/resetare/resetare.css" type="text/css" />

    <%- include("../fragmente/head") %>
</head>

<body class="dark">
    <%- include("../fragmente/header") %>
        <main>
            <div class="afisaj">
                <h1 id="titlu">Resetare parola</h1>
                <br>
                <div class="formular">
                    <p> Introduceti datele dumneavoastra</p>
                    <p id="mesaj"><%- locals.mesaj %></p>  
                    <% if(!locals.raspuns) { %>
                        <%- include("../fragmente/formular_reset", {action: "/resetare" }) %>
                    <% } %>
                    <% if(locals.raspuns) { %>
                        <%- locals.raspuns+"<br />"%>
                    <% } %>
                    <% if(locals.err) { %>
                        <%- locals.err %>
                    <% } %> 
                </div> 
            </div>
        </main>
    <%- include("../fragmente/footer") %>
</body>
</html>