<!DOCTYPE html>
<html lang="ro">

<head>
    <title>PC components</title>
    <meta name="keywords" content="pc,placa video, procesor, ram, placa de baza, cooler ">
    <meta name="description" content="Construieste-ti propiul pc cu cele mai bune componente!">

    <link rel="stylesheet" href="resurse/css/pagini/urmaresteColet/style.css" type="text/css">
    
    <script type="text/javascript" src="/resurse/js/urmaresteColet.js"></script>
    
    <%- include("../fragmente/head.ejs") %>
</head>

<body class="dark">
    <main>
        <%- include("../fragmente/header.ejs") %>
            <div id="main">
                <div id="imag">
                </div>
                <div id="div_tabel">
                    <table id="tabel">
                        <caption>Drumul pe care il face produsul pana la tine acasa</caption>
                        <thead>
                            <tr>
                                <th>Nr comanda</th>
                                <th>Ambalare</th>
                                <th>Plecare din depozit</th>
                                <th>Destinatia finala</th>
                                <th>Anulare comanda </th>
                                <th>Retur comada </th>
                            </tr>
                        </thead>
                        <tbody>
                            <%if(locals?.utilizator){%>
                                    <% comenzi.forEach(function(comanda) { %>
                                        <%if(locals.utilizator.username == comanda.username){%>
                                        <tr>
                                            <td><%= comanda.numarComanda %></td>
                                            <td><%= comanda.statusComanda === 1 ? 'X' : '' %></td>
                                            <td><%= comanda.statusComanda === 2 ? 'X' : '' %></td>
                                            <td><%= comanda.statusComanda === 3 ? 'X' : '' %></td>
                                            <td>
                                                <% if (comanda.statusComanda >= 1 && comanda.statusComanda < 3 ) { %>
                                                    <button class="buttonC" onclick="urmaresteColet('<%= comanda.numarComanda %>')">Anulare</button>
                                                    <%console.log("am apsat")%>
                                                    <% } %>
                                            </td>
                                            <td>
                                                <% if (comanda.statusComanda === 3) { %>
                                                    <button class="buttonC" onclick="urmaresteColet('<%= comanda.numarComanda %>')">Retur</button>
                                                <% } %>
                                            </td>
                                        </tr>
                                    <%}else{%>
                                        <tr>
                                            <td>&nbsp</td>
                                            <td>&nbsp</td>
                                            <td>&nbsp</td>
                                            <td>&nbsp</td>
                                        </tr>
                                <%}%>
                                <% }); %>
                            <%}else{%>
                                <tr>
                                    <td>&nbsp</td>
                                    <td>&nbsp</td>
                                    <td>&nbsp</td>
                                    <td>&nbsp</td>
                                    <td>&nbsp</td>
                                    <td>&nbsp</td>
                                </tr>
                            <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
    </main>
    <div id="footer">
        <%- include("../fragmente/footer.ejs") %>
    </div>
</body>