<header id="header">
    <div id="user-button">
        <h1 id="titlu">PC components</h1>
        <!-- <button id="tema"> 
            <input id="tema" type="checkbox" checked data-toggle="toggle" data-style="slow">
        </button> -->

        <!-- <input id="tema" type="checkbox" checked data-toggle="toggle" data-style="slow"> -->
        

        <script>
            tema_curenta = localStorage.getItem("tema");
            if (tema_curenta) {
                document.body.classList.add(tema_curenta);
            }
            document.getElementById("tema").onclick = function () {
                if (document.body.classList.contains("dark")) {
                    document.body.classList.remove("dark");
                    localStorage.removeItem("tema");
                } else {
                    document.body.classList.add("dark")
                    localStorage.setItem("tema", "dark")
                }
            }
        </script>
        
        <i class="fa-regular fa-user"></i>
        <i class="fa-regular fa-heart"></i>

        <label class="switch">
            <input type="checkbox" id="tema">
            <span class="slider round"></span>
        </label>
        
    </div>
    <nav>
        <label id="hamburger" for="ch-menu">
            <img src="resurse/imagini/Hamburger_icon_alb.png" alt="menu">
        </label>
        <input id="ch-menu" type="checkbox">
        <ul class="meniu">
            <li id="fa"><a href="index">
                    <div id="home">
                        <i class="fa-solid fa-house"></i>
                    </div>
                </a>
            </li>
            <li id="li-home"> <a href="index" id="but-home">Home</a></li>
            <li> <a href="/produse">Produse</a>
                <ul>
                    <% var nume3 =[]
                      for(let opt of locals.optiuni) {  %>
                        <% 
                            var cat1 = opt.unnest
                            if(cat1.startsWith(1) == false && cat1.startsWith(2) == false && cat1.startsWith(3) == false && cat1.startsWith(4) == false) { %>
                                <li><a href="/produse?tip=<%- cat1 %>"><%- cat1 %></a></li>
                           <% } else if(cat1.startsWith(1) == true || cat1.startsWith(2) == true || cat1.startsWith(3) == true || cat1.startsWith(4) == true) {%>
                                <%
                                    let index = cat1.indexOf("-")
                                    var nume1 = cat1.substr(index +1 )
                                    let index2 = nume1.indexOf("-")
                                    var nume2= nume1.substr(index -1, index2)
                                    //nume2 contine numele meniului == componente
                                    nume3.push(nume1.substr(index2 + 3))
                                    // in nume 1 salvez numele submeniului
                                %> 
                            <%}%>
                        <%}%>
                            
                        <li><a href="/produse?tip=<%-nume2%>"><%-nume2 %></a>
                            <ul>
                                <%for(let menu of nume3) {%>
                                    <li><a href="/produse?tip=<%-cat1%>"><%-menu %></a></li>
                                <%}%>
                            </ul>
                        </li>
                </ul>
            </li>
            <li> <a href="info">Info</a>
                <ul>
                    <li><a href="info#despre">Despre Noi</a></li>
                    <li><a href="info#contact">Contact</a></li>
                    <li><a href="info#Shops">Sedii magazine</a></li> 
                    <li><a href="info#garantie">Garantia Securitatii</a></li>
                    <li><a href="info#gdpr">GDPR</a></li>
                    <li><a href="info#CalcularePret">Calcul pret redus</a></li>
                    <li><a href="info#galerie">Galerie</a></li>
                </ul>
            </li>
            <li> <a href="promotii">Promotii</a></li>
            <li> <a href="desigilate">Desigilate</a></li>
            <li> <a href="urmaresteColet">Urmareste Colet</a></li>
            <li> <a href="/inregistrare">Inregistrare</a></li>
            <% if(locals.utilizator && locals.utilizator.rol=="admin") { %>
                <li><a href="/useri">Useri</a></li>
            <% } %>
            <% if(locals.utilizator) { %>
                <li><div><%- locals.utilizator.username %></div>
                    <ul>
                        <li><a href="/profil">Profil</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
            <%}%>
        </ul>
    </nav>
    <br/>
</header>